<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% assign meta_title = page.title | append: " | " | append: site.title %}
{% unless page.title %}{% assign meta_title = site.title %}{% endunless %}
{% assign meta_description = page.description | default: page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 %}
{% assign og_image = page.og_image | default: page.thumbnail | default: site.og_image %}
<title>{{ meta_title | escape }}</title>
<meta name="description" content="{{ meta_description | escape }}">
<meta property="og:site_name" content="{{ site.title | escape }}">
<meta property="og:title" content="{{ meta_title | escape }}">
<meta property="og:description" content="{{ meta_description | escape }}">
<meta property="og:type" content="{% if page.collection == "articles" %}article{% else %}website{% endif %}">
<meta property="og:url" content="{{ page.url | replace:'index.html','' | absolute_url }}">
<meta property="og:image" content="{{ og_image | absolute_url }}">
<meta property="og:image:width" content="1280">
<meta property="og:image:height" content="720">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ meta_title | escape }}">
<meta name="twitter:description" content="{{ meta_description | escape }}">
<meta name="twitter:image" content="{{ og_image | absolute_url }}">
<link rel="icon" href="{{ "/assets/images/common/favicon.svg" | relative_url }}" type="image/svg+xml">
<link rel="icon" href="{{ "/assets/images/common/favicon-32.png" | relative_url }}" sizes="32x32" type="image/png">
<link rel="icon" href="{{ "/assets/images/common/favicon-16.png" | relative_url }}" sizes="16x16" type="image/png">
<link rel="alternate icon" href="{{ "/assets/images/common/favicon.ico" | relative_url }}" sizes="any">
<link rel="apple-touch-icon" href="{{ "/assets/images/common/apple-touch-icon.png" | relative_url }}">
<link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
<link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
